// custom styles

// account for the WordPress admin toolbar
body.customize-support .navbar {
	//position:fixed;
	top: 28px;
}

// adjust the body for the fixed nav
body { 
	padding-top: 70px;
	color: #464646;
}

// sticky footer
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 0 0 0;
}

.sidebar {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		padding: 10px 0;
	}
	
	ul {
		list-style: square;
		
		li {
			padding: 0;
		}
	}	
}

// search form
#searchform {
    width: 300px;
    margin-top: 10px;
}
 
#search {
	//font-family: $vistexFontFamily;
    width: 175px;
    height: 30px;
    padding: 0 5px 0 25px;
    background: url("../images/search-icon.gif") no-repeat left;
	border: 1px solid #ddd;
    @include border-radius(0);
    @include transition(0.2s);
	
	&:focus {
	    background-position: -30px;
	    padding-left: 5px;
	    width: 100%;
	}
}
 
#sCustom {
    //font-family: $vistexFontFamily;
    width: 100%;
    margin-left: -10px;
    height: 30px;
    padding: 0 5px 0 25px;
    background: url("../images/search-icon.gif") no-repeat left #fff;
    @include border-radius(0);
    @include transition(0.2s);
    @include box-sizing(border-box);
}
 
#sCustom:focus {
    width: 100%;
    background-position: -30px;
    padding-left: 5px;
}
 
.ie8 #search, .ie7 #search {
    height: 22px;
}

.screen-reader-text {
	display: none;
}

.nav-links {
	
	.page-numbers {
		border: 1px solid $gray-lighter;
		padding: 2px 6px;
		margin: 0 0 0 -4px;
		
		&:first-child {
			margin: 0;
		}
	}
	
	.current {
		background: $gray-lighter;
	}
}